In [3]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [60]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chip = pd.read_csv(url, sep="\t")
chip.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [67]:
cols = chip.columns
for col in cols:
    print(col, end=" | ")

order_id | quantity | item_name | choice_description | item_price |

In [122]:

#df = chip.drop_duplicates().groupby(['item_name', 'choice_description']).count()
df = chip.groupby('item_name')['quantity'].nunique()
type(df)
df2 = pd.DataFrame(df)

item_name,6 Pack Soft Drink,Barbacoa Bowl,Barbacoa Burrito,Barbacoa Crispy Tacos,Barbacoa Salad Bowl,Barbacoa Soft Tacos,Bottled Water,Bowl,Burrito,Canned Soda,Canned Soft Drink,Carnitas Bowl,Carnitas Burrito,Carnitas Crispy Tacos,Carnitas Salad,Carnitas Salad Bowl,Carnitas Soft Tacos,Chicken Bowl,Chicken Burrito,Chicken Crispy Tacos,Chicken Salad,Chicken Salad Bowl,Chicken Soft Tacos,Chips,Chips and Fresh Tomato Salsa,Chips and Guacamole,Chips and Mild Fresh Tomato Salsa,Chips and Roasted Chili Corn Salsa,Chips and Roasted Chili-Corn Salsa,Chips and Tomatillo Green Chili Salsa,Chips and Tomatillo Red Chili Salsa,Chips and Tomatillo-Green Chili Salsa,Chips and Tomatillo-Red Chili Salsa,Crispy Tacos,Izze,Nantucket Nectar,Salad,Side of Chips,Steak Bowl,Steak Burrito,Steak Crispy Tacos,Steak Salad,Steak Salad Bowl,Steak Soft Tacos,Veggie Bowl,Veggie Burrito,Veggie Crispy Tacos,Veggie Salad,Veggie Salad Bowl,Veggie Soft Tacos
quantity,2,1,1,2,1,1,7,2,1,3,4,3,2,2,1,1,1,3,4,2,1,2,2,3,4,4,1,2,1,2,2,2,3,1,1,2,1,3,3,3,2,1,2,2,2,2,1,1,1,2